.intructions {
  color: black;
  width: 500px;
  height: 590px;
  display:inline-flex;
  text-align: center;
  margin-left: 25px;
  padding-top: 20px;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 4px solid black;
  border-top: 4px solid black;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  background-color: #f54b42;
}

.intructions span {
  font-size: 45px;
}

.list {
  padding-bottom: 20px;
  border-bottom: 10px dashed black;
}

.list:hover {
  color: white;
  transition: 1s;
}

li:hover {
  color: white;
  transition: 1s;
}
