.lilypad {
  background-image: url('https://78.media.tumblr.com/6d8cfc8333b20bfaa977336030978b9f/tumblr_npmvlvxBv01r9co7bo1_500.gif');
  background-size:cover;
  background-repeat: no-repeat;
  // background-color: #98fb98;
}
