.car {
  background-image: url('images/foodtruck.gif');
  background-size: 120%;
}





// @keyframes animateCar {
//   0% { transform: translateX(0); }
//   99% { transform: translateX(150%); }
//   100% { transform: translateX(0); }
// }


// 
// animation-name: animateCar;
// animation-duration: 0.5s;
// animation-iteration-count:infinite;
// animation-timing-function: linear;
